<!-- This is a static file -->
<!-- served from your routes in server.js -->

<!-- You might want to try something fancier: -->
<!-- html/nunjucks docs: https://mozilla.github.io/nunjucks/ -->
<!-- pug: https://pugjs.org/ -->
<!-- haml: http://haml.info/ -->
<!-- hbs(handlebars): http://handlebarsjs.com/ -->

<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Grand Canyon Air</title>
    <meta name="description" content="A cool thing made with Glitch" />
    <link
      id="favicon"
      rel="icon"
      href="https://cdn.glitch.com/085175c9-2bc2-48ab-93b4-2c2bba64fc3c%2FGCAir%20copy.png?v=1575493862809"
      type="image/x-icon"
    />
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <!--  bootstrap css sheet    -->
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
      integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
      crossorigin="anonymous"
    />
    <!-- import the webpage's stylesheet -->
    <link rel="stylesheet" href="/style.css" />

    <!-- FontAwesome Stylesheet link     -->
    <link
      href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
      rel="stylesheet"
      integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN"
      crossorigin="anonymous"
    />

    <!--  animate css    -->
    <link rel="stylesheet" href="/animate.css" />

    <!--   wow.js   -->
    <script src="/wow.min.js"></script>
    <script>
      new WOW().init();
    </script>

    <!-- import the webpage's client-side javascript file -->
    <script src="/client.js" defer></script>
  </head>

  <body>
    <main>
      <img
        class="img-fluid logo mr-4"
        src="https://cdn.glitch.com/085175c9-2bc2-48ab-93b4-2c2bba64fc3c%2FGCAir.png?v=1575411778695"
        alt="Grand Canyon Air logo"
        id="logo"
      />

      <nav>
        <ul class="nav justify-content-center">
          <li class="nav-item">
            <a class="nav-link" href="/">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/flights">Flights</a>
          </li>

          <li class="nav-item">
            <a class="nav-link" href="/info">Travel Information</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/frequentflyer">Frequent Flyers</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/input">Talk to Us!</a>
          </li>
        </ul>
        <hr />
      </nav>

      <section class="mr-4 ml-4">
        <div class="wow zoomIn">
          <h1 class="">
            Welcome to Grand Canyon Airlines!
          </h1>
          <small class="font-italic"
            >Travelling the canyon, making dreams come true!</small
          >
        </div>
        <img
          class="img float-right"
          src="https://cdn.glitch.com/085175c9-2bc2-48ab-93b4-2c2bba64fc3c%2Fgc.jpeg?v=1575926012191"
        />
        <br /><br />

        <p class="wow zoomIn">
          If you're looking for a comfortable, friendly, and timely airline on a
          budget, you've come to the right place! Grand Canyon Airlines serves
          those states surrounding the great Grand Canyon State, taking great
          care to always put our best foot for every customer we interact with.
          Our site provides flights, travel info, and a members rewards program
          to check out. With great pilots, planes, and staff, you'll choose
          Grand Canyon Airlines for your next great flight!
        </p>
      </section>

      <footer>
        <div class="mr-4 ml-4">
          <i class="fa fa-twitter fa-lg"></i>
          <b class="fa-lg"> | </b>
          <i class="fa fa-facebook fa-lg"></i>
          <b class="fa-lg"> | </b>
          <i class="fa fa-youtube fa-lg"></i>
        </div>

        <nav>
          <ul class="nav justify-content-center">
            <li class="nav-item">
              <a class="nav-link" href="/careers">Careers</a>
            </li>
          </ul>
        </nav>
      </footer>
    </main>
  </body>
</html>
