/* Colors used for the website */
/* #050505 RICH BLACK  */
/* #0075C4 OCEAN BOAT BLUE */
/* #FFFFFF WHITE */
/* #FF4C70 INFRA RED */
/* basic nav styles making the background transparent and the words black  */
.navbar-dark .navbar-brand{
    color:#0075C4 ;
}
.navbar-dark .navbar-nav .nav-link{
    color: #0075C4;
}
.bg-primary {
    background-color: #ffffff!important;
}
.mr-auto, .mx-auto {
    margin-right: 0px!important;
}
/* nav styles for when page is in mobile */
.navbar-toggler {
    padding: .25rem .75rem;
    font-size: 1.25rem;
    line-height: 1;
    background-color: #FF4C70;
    border: 1px solid #FF4C70;
    border-radius: .25rem;
    display: flex;
    }

/*  styles for the nav changing colors font and a small animation for when moving from page to page */
.navbar-dark .navbar-nav .nav-link:focus, .navbar-dark .navbar-nav .nav-link:hover{
    color: #FF4C70;
    border-bottom: 1px #FF4C70 solid;
}
.navbar-dark .navbar-brand:focus,.navbar-dark .navbar-brand:hover{
    color: #FF4C70;
    border-bottom: 1px #FF4C70 solid;
}
.btn-outline-success {
    color: #0075C4;
    border-color: #0075C4;
}

.btn-outline-success:hover{
    color: #fff;
    background-color: #ff4b70;
    border-color: #ff4b70;
}

.form-control:focus{
    color: #050505;
    background-color: #fff;
    border-color: #ff4b70;
    outline: 0;
    box-shadow: 0 0 0 0.2rem rgba(255, 75, 111, 0.44);
}

/* Body Styles */

.zoomIn{
    color: white;
    width: 90%;
    margin: 0% 5%;
    padding: 42px;
}

.home_background {
    background-image: url(fireflies.jpg);
    z-index: -1;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center center;
	 background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}